version: 0.0
Resources:
  - DemoLambda:
      Type: AWS::Lambda::Function
      Properties:
          Name: demo-lambda-2
          Alias: dev
          CurrentVersion: %CURRENTVERSION%
          TargetVersion: %TARGETVERSION%